@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SMS Gateway Web Portal</h1>
    <p class="lead">Create and Manage SMS sent over the web!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
